# Production US overrides. Use with valueFiles: [values.yaml, values-prd-us.yaml]
# image.tag comes from values.yaml (updated by CI)
replicaCount: 2
version: "0.1.0-prd-us"
image: {}
resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 64Mi
