# Production EU overrides. Use with valueFiles: [values.yaml, values-prd-eu.yaml]
replicaCount: 2
version: "0.1.0-prd-eu"
image:
  tag: latest
resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 64Mi
