apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hcomp-app.name" . }}
  labels:
    {{- include "hcomp-app.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "hcomp-app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "hcomp-app.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/version: {{ .Values.version | quote }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: {{ include "hcomp-app.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            - name: PORT
              value: "8080"
            - name: VERSION
              value: {{ .Values.version | quote }}
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 3
            periodSeconds: 5
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
